input,
button {
	font-size: 100%;
}
dialog {
	position: absolute;
	left: 50%; top: 50%; right: auto;
	min-width: 400px;
	padding: 2em;
	border: 3px solid #5C8CD9;
	box-shadow: 6px 6px 4px rgba(0,0,0,.4);
	background-color: #fff;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all .35s;
	transition: all .35s;	
}
dialog:not([open]) {
	display: none;
}
h2 {
	margin: 0 auto .75em;
	font-size: 1.5em;
	font-family: 'microsoft yahei';
}
p { margin: .5em 0; }
.list {
	padding-bottom: 1em;
}
.new {
	position: absolute; right: 8px;
	padding: 4px 12px;
	border: 2px solid #fff;
	background-color: #ddd;
	outline: 1px dashed #999;
	box-shadow: 1px 1px 2px rgba(0,0,0,.35);
	color: #345590;
	text-decoration: none;
	font-size: 14px;
}
input[type=submit] {
	height: 2em; line-height: 1.8em;
	padding: 0 1.2em;
	border: 1px solid #335590;
	border-radius: .25em;
	background-color: #5C8CD9;
	background-image: -webkit-linear-gradient(top, #6394DE, #4D7DD0);
	background-image:    -moz-linear-gradient(top, #6394DE, #4D7DD0);
	background-image:         linear-gradient(top, #6394DE, #4D7DD0);
	box-shadow: 0 1px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.35);
	color: #fff;
	font-size: 14px;
	overflow: visible;
}
input[type=button] {
	height: 2em;
	padding: 0 1.2em;
	border: 1px solid #aaa;
	border-radius: .25em;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
	background-image:    -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
	background-image:         linear-gradient(top, #f5f5f5, #e0e0e0);
	box-shadow: 0 1px rgba(0,0,0,.4), inset 0 1px rgba(255,255,255,.35);
	color: #333;
	font-size: 14px;
	overflow: visible;
}
input[type=submit]:active,
input[type=button]:active {
	box-shadow: 0 1px 1px rgba(0,0,0,.4), inset 0 1px rgba(0,0,0,.35);
}

input[type=url] {
	width: 80%;
	padding: 3px;
}
input[type=file] {
	font-size: 14px;
}
input[type=color] {	
	position: absolute; left: 0; top: 0;
	max-width: 50px;
	padding: 0; margin: 0;
	border: 0 none;
	font-size: 12px;
}
.design_box {
	margin: 40px auto 0;
}
.page_box {
	position: absolute; left: 50%; top:40px;
	-webkit-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
	-webkit-transform-origin: center top;
	transform-origin: center top;
	overflow: hidden;
	resize: both;
	cursor: move;
}
.page_box > iframe {
	width: 100%; height: 100%;
	border: 0 none;
	pointer-events: none;
	opacity: .5;
	resize: none;
}
.page_box::before {
	content: '';
	position: absolute;
	left: 0; top: 0; bottom: 0; right: 0;
}
.page_operate {
	position: fixed; top: 0; left: 60px;
	z-index: 1;
	visibility: hidden;
}
.page_box:hover .page_operate {
	visibility: visible;
}

.page_operate > a {
	display: inline-block;
	width: 90px;
	margin-left: .75em;
	padding: .2em 0;
	border: 1px solid #aaa;
	background-color: #e0e0e0;
	box-shadow: inset 0 1px #f0f0f0;
	text-align: center;
	font-size: 12px;
	color: #345590;
	text-decoration: none;
}
.page_operate > a:hover {
	background-color: #ddd;
}
.page_operate select {
	position: absolute;
	width: 90px; height: 1.6em;
	margin-left: .75em;
	opacity: 0;
}